
@import "font.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-color-primary: #1F120C;
}
/*body{overflow:hidden;}*/
/************** navbar **************/

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
#img2{
    display: none;
    width: 80px;
    height: 80px;
    position: relative;
  }
.collapse{
      padding: 32px 88px;
    background: transparent;
    /*height: 100vh;*/
}
.navbar-brand img{
  width: 80px;
  height: 80px;
}

.nav-item{
  font-family: 'Futura Md BT', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
}
.nav-link{
  color: #FFFFFF !important;
}
.nav-pad{
  padding-left: 14px;
}
.collapse .num{
  margin-right: 30px !important;
  font-family: 'Futura Md BT', serif;
}
.nav-btn{
  padding: 13px 24px;
  border: 2px solid #fff;
  border-radius: 0;
  font-family: 'Futura Md BT', serif;
}
.nav-btn:hover{
  background: transparent;
}
/*.navbar-collapse{
  height: 100vh;
  background: #ed6740;
}*/
.header-scrolled{
  background: #fff;
}
.header-scrolled .collapse{
  padding: 11px 88px;
}
.header-scrolled .nav-item .nav-link{
  color: #000 !important;
}
.header-scrolled .num{
  color: #ed6740 !important;
}
.header-scrolled .nav-btn{
  color: #ed6740 !important;
  border: 2px solid #ed6740;
}
.header-scrolled .toggler-icon{
  background: #bab7d0;
}
.navbar-orange{
    background-color: #ff8300 !important;
}
.navbar-orange #img2{
  display: block;
}
.navbar-orange #img1{
  display: none;
}
.navbar-orange .nav-item .nav-link{
  color: #fff !important;
}
.navbar-orange .num{
  color: #fff !important;
}
.navbar-orange .nav-btn{
  color: #fff !important;
  border: 2px solid #fff;
}
/*********navbar hamber **********/
.navbar-toggler{
  width: 35px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span{
  margin: 0;
  padding: 0;
}
.toggler-icon{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition:  .25s ease-in-out;
}
.middle-bar{
  margin-top: 0px;
}

/************** when navigation is clicked *********************/
.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

/*************** State when the navbar is collapsed **************/
.navbar-toggler.collapsed .top-bar{
  margin-top: -20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
  margin-top: 20px;
  transform: rotate(0deg);
}


/************************ banner section  **************************/
.carousel-item .img1{
    background-image: url('../assets/img/banner1.jpg');
    height: 100vh;
  background-size: cover;
  background-repeat: no-repeat  ;
  margin: 0;
}
.carousel-item .img2{
    background-image: url('../assets/img/banner2.jpg');
    height: 100vh;
  background-size: cover;
  background-repeat: no-repeat  ;
  margin: 0;
}
.carousel-item .img3{
    background-image: url('../assets/img/banner3.jpg');
    height: 100vh;
  background-size: cover;
  background-repeat: no-repeat  ;
  margin: 0;
}
.carousel-item .img4{
    background-image: url('../assets/img/banner4.jpg');
    height: 100vh;
  background-size: cover;
  background-repeat: no-repeat  ;
  margin: 0;
}
.carousel-item .img5{
    background-image: url('../assets/img/banner5.jpg');
    height: 100vh;
  background-size: cover;
  background-repeat: no-repeat  ;
  margin: 0;
}
.banner-col{
  padding-top: 456px;
  padding-left: 100px;
  padding-right: 0;
}
.carousel-control-next{
  width: 6%;
}
.carousel-control-next-icon{
  margin-right: 3px;
  background-image: url('../assets/logo/rightarrow.svg');
  color: #fff;
}
.carousel-control-prev{
  width: 6%;
}
.carousel-control-prev-icon{
  margin-left: 3px;
   background-image: url('../assets/logo/leftarrow.svg');
  color: #fff;
}
.carousel .head-text{
  font-family: 'Futura Lt BT', serif;
  font-size: 56px;
  line-height: 66px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 7px;
}
.carousel .head-text-main{
  font-family: 'Futura Hv BT', serif;
  font-size: 56px;
  line-height: 66px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.carousel .head-para{
  font-family: 'Futura Md BT', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: #FFFFFF;
  margin-bottom: 32px !important;
}

/************* sec2 ********************/
.sec2{
    padding: 100px 100px;
}
.sec2-cont{
  max-width: 1312px;
}
.sec2 .head-text, .sec2 .head-text-main{
  font-family: 'Futura Lt BT', serif;
  font-size: 46px;
  line-height: 60px;
  /* or 130% */

  letter-spacing: 0.03em;

  color: #1F120C;
}
.sec2 .head-text-main{
  font-family: 'Futura Hv BT', serif;
  margin-bottom: 36px;
}
.sec2 .head-para{
  font-family: 'Futura Bk BT', serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #1F120C;
  margin-left: 24px;

}
.sec2 .sec2-img{
  padding-left: 43px;
  padding-right: 0;
}
.vertical {
  border: 2px solid #F76943;
  background: #F76943;
  width: 4px;
  height: 106px;;
}
/*************** section 3 ************************/
/**************** Expertise-Section ****************************/

/* Half-fill color Heading */
.expertise-section{
    background: #FCFCFC;
    padding: 100px 0;
}
.heading{
   background: linear-gradient(to top,#F76943 38%,#1F120C 38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */
  /*border: 1px solid #1F120C;*/
  -webkit-text-stroke: 1px #1F120C;
  text-transform: uppercase;
  font-family: 'Futura Hv BT',serif;
  text-align: center;
  margin: 0;
  z-index: 1;
}
.heading::after {
    content: " ";
    min-width: 318px;
    min-height: 28px;
    background: #F76943;
    position: absolute;
    top: 62%;
    transform: translateX(-96%);
    z-index: -1;
}
.expertise-section-para{
    /*margin: 16px 0 0 0;*/
    font-family: Futura;
    font-size: 20px;
    line-height: 32px;
        /* or 160% */
    font-family: 'Futura BK BT',serif;
    text-align: center;
    letter-spacing: 0.03em;
    max-width: 700px;

    color: #1F120C;
    margin: 16px auto 0 auto;

}

/********************** Block Card Css ****************************/
.block-card{
    width: 312px;
    background: #FFFFFF;
    border-radius: 16px;
    /*border: 2px solid red;*/
    padding: 57px 20px;
}
.hover-block-card{
   display: none;
   width: 312px;
   border-radius: 12px;
   /*height: 302px;*/
   background: #FFFFFF;
   border: 1px solid;
   padding: 18px;


}
.block-card,.hover-block-card{
    margin: 0 auto;
}
.hover-block-sub-card h3{
    margin: 0;

    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hover-block-sub-card p{
    font-family: 'Futura BK BT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    margin: 0;
    text-transform: capitalize;

    color: #FFFFFF;
    /*color: #1F120C;*/

}
.hover-block-card-para{
    color: #FFFFFF;
}
.hover-block-card-para{

}

.block-card h3{
    margin: 0;
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;


    /* or 150% */

    text-transform: capitalize;

    color: #1F120C;
}

.block-card p{
    margin: 8px 0 0 0;
    text-align: left;
    font-family: 'Futura BK BT';
    font-size: 16px;
    /*line-height: 30px;*/
    /* or 187% */
    color: #1F120C;


}
.block-card img{
    position: relative;
    top: -39px;
}
.hover-block-card-para{
    margin: 12px 0 0 0;
}
.hover-block-sub-card{
    /*max-width: 272px;*/
    background: url("../assets/img/hover-card-img.png");
    background-size: cover;
    background-position: center;
    /*color: #FFFFFF;*/
     color: #1F120C;
    border-radius: 12px;
    padding: 46px 34px 40px 30px;
}
.sec3-main-card:hover .block-card{
    display: none;
}
.sec3-main-card:hover .hover-block-card{
    display: block;
}

/******************* section 4 ********************/
.sec4-cont{
  max-width: 1191px;
  background-image: url('../assets/img/bannerbg.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 100px 100px;
  position: relative;
  overflow: hidden;
}
.sec4-cont .row{
  

}
.sec4-cont h1{
  font-family: 'Futura Hv BT', serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.sec4-cont p{
  font-family: 'Futura Bk BT', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
.sec4-cont a{
  font-family: 'Futura Md BT', serif;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}
.sec4-cont .pattern{
  width: 240px !important;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-42px ,-15px);
}
.sec4-cont .pattern2{
  width: 170px !important;
  height: 170px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(63px ,59px);

}
/******************* section 6 ***************/
.sec6{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FCFCFC;
}
.sec6 .item{
  background: #fff;
  padding: 40px 53px;
  width: 206px;
  height: 176px ;
        border-radius: 16px;
  margin: 0 auto;
  cursor: pointer;
}
.sec6 .item a{
  text-decoration: none;
  color: #1F120C;
}
.sec6 .owl-item{
  width: 206px;
}
.sec6 .inner img{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.sec6 .owl-carousel{
  max-width: 1311px;
  background: #FCFCFC;
}

.customNextBtn, .customPreviousBtn{
    background: transparent;
    color: #04133a;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 3rem;
    transition: transform 0.5s ;
}
.sec6 .btns{
  justify-content: center;
}
.sec6 .item .inner .imghover{
  display: none;

}
.sec6 .item:hover .w-outhover{
  display: none;
}
.sec6 .item:hover .imghover{
  display: block;
}
.sec6 .item:hover .item-para{
  color: #F76943;
}
.sec6 .item:hover{
      box-shadow: 4px 4px 36px rgba(31, 18, 12, 0.05);
}
.sec6-upper{
  max-width: 700px;
  margin-bottom: 48px;
  padding: 0;
}
.sec6-upper h1{
  margin-bottom: 16px !important;
  font-family: 'Futura Hv BT', serif;
}
.sec6 .sec6-upper-para{
  font-family: 'Futura Bk BT', serif;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #1F120C;
}
.sec6 .heading{
   background: linear-gradient(to top,#F76943 38%,#1F120C 38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */
  /*border: 1px solid #1F120C;*/
  -webkit-text-stroke: 1px #1F120C;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  z-index: 1;
}
.sec6 .heading::after {
    content: " ";
    min-width: 408px;
    min-height: 28px;
    background: #F76943;
    position: absolute;
    top: 62%;
    transform: translateX(-93%);
    z-index: -1;
}
/******************* section 7 *************************/
/*Packages Section*/
.packages-section{
  background: #FFEFE9;
}
.packages-content{
  padding: 100px 0px;
}
.packages-heading{
  max-width: 700px;
  text-align: center;
  margin-bottom: 48px;
}
.packages-heading .heading{
  background: linear-gradient(to top,#F76943 38%,#1F120C 38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  -webkit-text-stroke: 1px #1F120C;
  text-transform: uppercase;
  font-family: 'Futura Hv BT',serif;
  text-align: center;
  margin: 0;
  z-index: 1;
  margin-bottom: 16px;
}
.packages-heading .heading::after {
  content: " ";
  min-width: 335px;
  min-height: 28px;
  background: #F76943;
  position: absolute;
  top: 62%;
  transform: translateX(-96%);
  z-index: -1;
}
.packages-section .packages-heading p{
  font-family: 'Futura Bk BT';
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #1F120C;
}
.packages-price-card{
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 420px !important;
}
.packages-price-card .packages-price-card-content h1{
  font-family: 'Futura Hv BT';
  font-size: 56px;
  line-height: 66px;
  color: #F76943;
  padding: 40px 0px 30px 40px;
}
.packages-price-cards .plan2{
  margin: 0px 26px;
}
.price{
  background: #F76943;
  box-shadow: 6px 6px 140px #FFFFFF;
  border-radius: 0px 100px 100px 0px;
  width: 327px;
  margin-bottom: 40px;
}
.price-content{
  padding: 40px 110px 40px 40px;
  color: #FFFFFF;
}
.price-content p:nth-child(1){
  font-family: 'Futura Bk BT';
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 12px !important;
}
.price-content p:nth-child(2){
  font-family: 'Futura Md BT';
  font-size: 36px;
  line-height: 36px;
}
.packages-price-card .packages-robo{
  right: 15px;
  top: 15px;
}
.packages-price-cards{
  padding: 0px 20px;
}
.packages-price-card{
  z-index: 1;
  margin-bottom: 25px !important;
}
.packages-price-card .packages-robo{
  z-index: -1;
}
.packages-price-card .packages-services ul li{
  font-family: 'Futura Bk BT';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1F120C;
  margin-bottom: 24px;
}
.packages-price-card .packages-services ul{
  padding-left: 40px;
}
.packages-price-card .packages-quote-button a{
  border: 2px solid #F76943;
  box-sizing: border-box;
  padding: 14px 100px;
  font-family: 'Futura Md BT';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #F76943;
}
.packages-quote-button{
  padding-bottom: 40px;
  padding-top: 16px;
}
/******************** section 8 **************************/
/* ***************************************** Testimonial Section ********************************************************* */

.testimonial-section{
    padding: 100px 0 0 0;
    z-index: -1;
}
.testimonial-section .heading::after{
    min-width: 414px;
    transform: translateX(-98%);

}
.testimonial-card{
    margin: 48px 0 0 0;
    z-index: 1;
}
.testimonial-card img{
    /*width: 90% !important;*/
    /*width: 100% !important;*/
    max-width: 387px;
    height: 487px;
    transform: translateY(20px);
    border-radius: 12px;
    z-index: 100;
}
.testimonial-div{
    max-width: 427px;
    height: 477px;
    border: 2px solid #1F120C;
    border-radius: 16px;
    /*max-width: 507px;*/
    /*height: 427px;*/
    z-index: 1;

}
.testimonial-div-2{
    padding: 0 24px;
}

.testimonial-card p{
    font-family: Futura;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-transform: capitalize;
    font-family: Futura Md BT;

    color: #1F120C;

}
.testimonial-card h3{
    text-align: right;
    margin: 24px 0 0 0;
    font-family: Futura Md BT;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    text-transform: capitalize;

    color: #F76943;

}
.testi-text{
    color: #F76943;
    font-family: 'Futura BK BT';
}
.testimonial-section .owl-nav{
        position: absolute;
        right: 30px;
        font-size: 50px;
        bottom: 100px;
        /*top: 0;*/
}
.testimonial-card .row{
    padding: 0 0 100px 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
/******************* footer *********************/
footer{
  height: 100vh;
}
.footer-1{
  /*height: 848px;*/
  position: relative;
  background: url('../assets/img/footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer1-content{
  padding-top: 36px;
}
.footer1-form{
  border-top: 10px solid #F76943;
  background: #FFF;
  padding: 20px 30px !important;
}
.footer-1 .footer1-form form h2{
  font-family: 'Futura Hv BT', serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: var(--font-color-primary);
}
.footer-1 .footer1-form form p{
  font-family:'Futura Lt BT', serif;  
  font-size: 24px;
  line-height: 32px;
  color: var(--font-color-primary);
}
.footer-1 .footer1-form form label{
  font-family: 'Futura Md BT', serif;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-color-primary);
}
.footer-1 .footer1-form form .form-control{
  border: 1px solid #BFBABA;
  font-family: 'Futura Lt BT', serif;
  font-size: 16px;
  line-height: 24px;
}
.footer-1 .footer1-form form .form-inputs{
  margin-bottom: 24px;
}
.footer-1 .footer1-form form .form-action{
  margin-top: 24px;
}
.footer-1 .footer1-form form .form-action a{
  font-family: 'Futura Md BT', serif; 
  font-size: 24px;
  line-height: 24px;
  color: #F76943;
  margin-right: 20px;
}

/*footer-2*/
.footer-2{
  padding: 48px 100px;
}
.footer-2 .footer-2-content{
  margin-bottom: 36px;
}
.footer-2 .footer-2-content h2 span:nth-child(1){
  font-family: 'Futura Hv BT';
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
}
.footer-2 .footer-2-content h2 span:nth-child(2){
  font-family: 'Futura Lt BT';
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
}
.footer-2 .footer-2-content .footer-number h2, .footer-2 .footer-2-content .footer-mail h2{
  font-family: 'Futura Hv BT', serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #F76943;
}
.footer-2 .footer-2-content .footer-number{
  margin-right: 30px;
}
.footer-2 .footer-2-content .footer-menu li{
  margin: 0px 15px;
  font-family: 'Futura Md BT', serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--font-color-primary);
}
.footer-address{
  max-width: 336px;
}
.footer-address p, .copyright-section p{
  font-family: 'Futura Md BT', serif;
  font-size: 20px;
  line-height: 28px;
  color: var(--font-color-primary);
}
.social-icons ul li img{
  padding: 3.5px;
}
.social-icons ul li{
  margin: 0 7px;
}